html {
  height: 100%;
  overflow: hidden; /* Prevents rubber-band scrolling of the whole "page" */
  background-color: #fff; /* To cover OSes with no default background color */
}

body {
  height: 100%;
}

#App {
  height: 100%;
}