html {
  height: 100%;
  overflow: hidden; /* Prevents rubber-band scrolling of the whole "page" */
  background-color: #fff; /* To cover OSes with no default background color */
}

body {
  height: 100%;
}

#container {
  height: 100%;
  display: flex;
  align-items: stretch;
  justify-content: flex-start;
}

#left-column {
  display: inline-flex;
  width: 20%;
  min-width: 100px;
  overflow-y: auto;
  overflow-x: hidden;
  border-right: 1px solid grey;
  float: left;
}

#right-column {
  display: inline-flex;
  align-items: stretch;
  flex-grow: 1;
  padding: 15px;
  float: left;
  flex-direction: column;
}

#right-column textarea {
  display: inline-flex;
  flex-grow: 1;
}